<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.dongjian.meet">

<!--    android:networkSecurityConfig="@xml/network_security_config"-->
    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meet">

        <activity
            android:name=".ui.IndexActivity"
            android:theme="@style/AppThemeFull">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppThemeFull" />
        <!--    引导页    -->
        <activity
            android:name=".ui.GuideActivity"
            android:theme="@style/AppThemeFull" />
        <!--    登录页    -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeFull" />

        <activity android:name=".ui.AddFriendActivity"/>
        <activity android:name=".ui.ChatActivity"/>
        <activity android:name=".ui.ContactFirendActivity"/>
        <activity android:name=".ui.FirstUploadActivity"/>
        <activity android:name=".ui.ImagePreviewActivity"    android:theme="@style/AppThemeFull" />
        <activity android:name=".ui.LocationActivity"/>
        <activity android:name=".ui.MeInfoActivity"/>
        <activity android:name=".ui.NewFriendActivity"/>
        <activity android:name=".ui.UserInfoActivity"   android:theme="@style/AppThemeFull"/>

        <activity android:name=".test.TestActivity" />


<!--        云服务-->
        <service android:name=".service.CloudService"/>
<!--        FileProvider-->
        <provider
            android:authorities="net.dongjian.meet.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath"/>
        </provider>
<!--融云的接收离线消息-->
        <receiver
            android:name=".receiver.SealNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>

        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="bddf19633ae135f09886feb68f9ea132	" />

        <!--小米适配-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!--   Bmob      -->
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="net.dongjian.meet.BmobContentProvider">
        </provider>




    </application>

</manifest>